####################################################################
# WhiteSource Unified-Agent Configuration File
####################################################################
checkPolicies=true
forceCheckAllDependencies=false
forceUpdate=true
forceUpdate.failBuildOnPolicyViolation=false
updateType=OVERRIDE
updateInventory=true
log.files.level=debug

##################################
# Organization Tokens
##################################
projectName=python-sample
projectVersion=1.0
productName=DSO
productVersion=1

##################################
# Includes/Excludes Glob patterns 
##################################
includes=**/*.jar **/*.zip **/*.tar.gz **/*.egg **/*.whl **/*.py
excludes=**/*sources.jar **/*javadoc.jar **/*starter*.jar
case.sensitive.glob=false
followSymbolicLinks=true

##################################
# Archive Properties
##################################
archiveExtractionDepth=3
archiveIncludes=**/*.war **/*.ear **/*.jar **/*.zip

##################################
# Maven Properties
##################################
maven.resolveDependencies=false