*.lock
*-lock.*
.gradle
.DS_Store
.env
.venv
*.js
*.d.ts

build
dist
target
**/node_modules

target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
!**/src/main/**/target/
!**/src/test/**/target/

build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!**/src/main/**/build/
!**/src/test/**/build/
